.scene {
  display: inline-block;
  perspective: 600px;
}

.row{
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding-top: 10px;
}

.card {
  background-image: url("../pics/back.jpg");
  background-size: 100% 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 8px solid white;
  border-radius: 15px;
  position: relative;
  width: 20vw;
  height: 20vw;
  max-width: 130px;
  max-height: 130px;
  min-width: 64px;
  min-height: 64px;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.65s;
}

.foundCard {
  border: 0.5px solid darkblue;
  border-radius: 15px;
  width: 20vw;
  height: 20vw;
  max-width: 130px;
  max-height: 130px;
  min-width: 64px;
  min-height: 64px;
}

.card:hover {
  cursor: pointer;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face,
.face {
  position: absolute;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

.box {
  height: 20vw;
  width: 20vw;
  max-width: 130px;
  max-height: 130px;
  min-width: 64px;
  min-height: 64px;
  border-radius: 15px;
}

.images {
  margin-left: 8px;
  margin-top: -8px;
  border: 8px solid white;
  border-radius: 15px;
}

.fade {
  z-index: -1;
  animation: fadeOut 1s ease-out;
}

.end {
  text-align: center;
  color: #31525b;
  animation: fadeIn 3s ease-out;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 576px) {
  .card, .images {
    margin-left: 4px;
    margin-top: -4px;
    border: 4px solid white;
  }
}
