* {
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 5px;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(
    -45deg,
    rgba(115, 246, 5, 0.2),
    rgba(5, 246, 55, 0.2),
    rgba(5, 246, 216, 0.2),
    rgba(5, 20, 246, 0.2)
  );
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;
  overflow-x: hidden;
  display: grid;
  grid-template-areas: "header" "preheader" "main" "footer";
}

header{
  grid-area: header;
}

.pre-header{
  grid-area: preheader;
}

main{
  grid-area: main;
  height: 80vh;
  display: grid;
  justify-content: center;
}

footer{
  grid-area: footer;
  display: flex;
  justify-content: center;
  font-size: 0.7vw;
  letter-spacing: 2px;
}

.playingArea{
  width: 100vw;
  align-self: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h2 {
  padding-right: 20px !important;
  color: #31525b;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 3vw;
}

h2 {
  font-size: 1.5vw;
}

.back {
  height: 7vw;
  width: 7vw;
  border-radius: 10px;
}

@media only screen and (max-width: 1070px) {
  h1,
  h2 {
    padding-right: 100px !important;
  }
}

@media only screen and (max-width: 1126px) {

  h1,
  h2 {
    padding-right: 0px !important;
    float: none;
  }

  h1 {
    font-size: 4vw;
  }

  h2 {
    font-size: 2.5vw;
  }

  .back {
    border-radius: 2px;
  }

  .back {
    width: 8.5vw;
    height: 8.5vw;
  }
}

@media only screen and (max-width: 576px) {

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 12px;
  }

  .back {
    border-radius: 2px;
  }

  .back {
    width: 65px;
    height: 65px;
  }
}
