* {
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 5px;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  background: linear-gradient(
    -45deg,
    rgba(115, 246, 5, 0.2),
    rgba(5, 246, 55, 0.2),
    rgba(5, 246, 216, 0.2),
    rgba(5, 20, 246, 0.2)
  );
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;
  overflow-x: hidden;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.playingArea {
  width: 80%;
  height: 100%;
  margin-left: 21%;
  margin-top: 0rem !important;
}

p1,
p2 {
  padding-right: 20px !important;
  color: #31525b;
  float: right;
}

p1 {
  font-size: 3vw;
}

p2 {
  font-size: 1.5vw;
}

.fallingCard {
  background-image: url("../pics/back.jpg");
  background-size: 100% 100%;
  width: 7vw;
  height: 7vw;
  border-radius: 10px;
  border: 6px solid white;
  position: absolute;
  z-index: -1;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.65s;
}

.fallingImages {
  width: 100%;
  height: 100%;
  margin-left: 6px;
  margin-top: -6px;
  border: 6px solid white;
  border-radius: 10px;
}

.back {
  height: 7vw;
  width: 7vw;
  border-radius: 10px;
}

.fallingCard1 {
  rotate: 30deg;
  top: -200px;
  right: 100px;
  animation: fall 14s linear infinite;
}

.fallingCard2 {
  top: -200px;
  right: 200px;
  animation: fall2 15s linear infinite;
}

.fallingCard3 {
  rotate: -80deg;
  top: -200px;
  right: 200px;
  animation: fall 13s linear infinite;
}

.fallingCard4 {
  rotate: 56deg;
  top: -200px;
  right: 70px;
  animation: fall2 13s linear infinite;
}

.fallingCard5 {
  rotate: 45deg;
  top: -200px;
  right: 250px;
  animation: fall3 13s linear infinite;
}

.fallingCard6 {
  rotate: -40deg;
  top: -200px;
  right: 300px;
  animation: fall3 13s linear infinite;
}

.fallingCard7 {
  rotate: -54deg;
  top: -200px;
  right: 650px;
  animation: fall2 14s linear infinite;
}

.fallingCard8 {
  top: -200px;
  right: 550px;
  animation: fall3 18s linear infinite;
}

.fallingCard9 {
  rotate: 78deg;
  top: -200px;
  right: 350px;
  animation: fall4 15s linear infinite;
}

.fallingCard10 {
  rotate: -17deg;
  top: --10px;
  right: 450px;
  animation: fall5 17s linear infinite;
}

.fallingCard11 {
  rotate: 50deg;
  top: -200px;
  right: 650px;
  animation: fall5 10s linear infinite;
}

@keyframes fall {
  0% {
    top: -200px;
    transform: translateX(50px) rotateX(180deg);
  }
  100% {
    top: 40%;
    transform: translateX(-100px) rotateX(-180deg);
  }
}

@keyframes fall2 {
  0% {
    top: -200px;
    transform: translateX(-50px) rotateX(-90deg);
  }
  100% {
    top: 40%;
    transform: translateX(-80px) rotateX(180deg);
  }
}

@keyframes fall3 {
  0% {
    top: -200px;
    transform: translateX(0px) rotateX(-180deg);
  }
  100% {
    top: 40%;
    transform: translateX(-400px) rotateX(180deg);
  }
}

@keyframes fall4 {
  0% {
    top: -200px;
    transform: translateX(0px) rotateY(-180deg);
  }
  100% {
    top: 40%;
    transform: translateX(-400px) rotateY(180deg);
  }
}

@keyframes fall5 {
  0% {
    top: -200px;
    transform: translateX(100px) rotateY(180deg);
  }
  100% {
    top: 40%;
    transform: translateX(-250px) rotateY(-180deg);
  }
}

@media only screen and (max-width: 1070px) {
  p1,
  p2 {
    padding-right: 100px !important;
  }
}

@media only screen and (max-width: 992px) {
  .playingArea {
    width: 80%;
    margin-left: 10% !important;
    margin-top: 50px !important;
  }

  p1,
  p2 {
    padding-right: 0px !important;
    float: none;
  }

  p1 {
    font-size: 4vw;
  }

  p2 {
    font-size: 2.5vw;
  }

  .fallingCard,
  .back,
  .fallingImages {
    border-radius: 2px;
  }

  .fallingCard,
  .back {
    width: 8.5vw;
    height: 8.5vw;
  }
}

@media only screen and (max-width: 576px) {
  .playingArea {
    margin: 0px auto;
    margin-top: 20% !important;
    height: 100vw;
  }

  p1 {
    font-size: 22px;
  }

  p2 {
    font-size: 12px;
  }

  .fallingCard,
  .back,
  .fallingImages {
    border-radius: 2px;
  }

  .fallingCard,
  .back {
    width: 65px;
    height: 65px;
  }
}
