.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px 0px 0px;
  margin: 0px 2%;
}

.pre-header > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  background-color: #ffffff;
  font-size: 0.7vw;
  transition: all 0.5s ease;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.pre-header > ul > li {
  border-radius: 2px;
  font-size: 1vw;
}

.size:hover,
.selected,
#coffee:hover,
#building:hover,
#fruit:hover,
#plant:hover,
#animal:hover,
#travel:hover,
#coffeeBurger:hover,
#buildingBurger:hover,
#fruitBurger:hover,
#plantBurger:hover,
#animalBurger:hover,
#travelBurger:hover {
  background-color: rgba(42, 82, 91);
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

span {
  font-family: "Mistral", cursive;
  font-size: 1vw;
  text-transform: capitalize;
  font-weight: normal;
}

.size {
  opacity: 0;
  border-radius: 20px;
}

#burgerMenu {
  padding-left: 3px;
}

@media only screen and (max-width: 1126px) {
  ul {
    padding-left: 0px;
  }

  li {
    font-size: 12px;
    padding: 1.5% 0%;
    width: 70%;
    margin: 5% auto;
  }

  span {
    font-size: 20px;
  }

  .menu, .pre-header {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  li {
    font-size: 12px;
    padding: 2.5% 0%;
    margin: 15% auto;
    width: auto;
  }

  span {
    font-size: 20px;
  }
}
