.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px 0px;
  margin: 0px 2%;
}

.pre-header > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  background-color: #ffffff;
  font-size: 0.7vw;
  transition: all 0.5s ease;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.pre-header > ul > li {
  border-radius: 2px;
  font-size: 1vw;
}

.size:hover,
.burger-size:hover,
.selected,
#coffee:hover,
#building:hover,
#fruit:hover,
#plant:hover,
#animal:hover,
#travel:hover,
#coffee-burger:hover,
#building-burger:hover,
#fruit-burger:hover,
#plant-burger:hover,
#animal-burger:hover,
#travel-burger:hover {
  background-color: rgba(42, 82, 91);
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

span {
  font-family: "Mistral", cursive;
  font-size: 1vw;
  text-transform: capitalize;
  font-weight: normal;
}

.size {
  opacity: 0;
  border-radius: 20px;
}

#burger-menu {
  padding-left: 3px;
}

@media only screen and (max-width: 1126px) {

  span {
    font-size: 20px;
  }

  .menu, .pre-header {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  li {
    width: 100%;
  }
}