* {
  box-sizing: border-box;
  text-transform: uppercase;
  letter-spacing: 5px;
}

/*background*/

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(-45deg, #001d4a, #27476e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 50s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*menu*/

.menu {
  padding: 20px 0px 0px;
  float: left;
  margin: 0px 2%;
  width: 20%;
}

li {
  list-style-type: none;
  margin-bottom: 50px;
  background-color: #ffffff;
  font-size: 1vw;
  transition: all 0.5s ease;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

li:hover {
  background-color: #878684;
  color: white;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

span {
  font-family: "Mistral", cursive;
  font-size: 1.8vw;
  text-transform: capitalize;
  font-weight: normal;
}

.sizeB,
.sizeC,
.sizeF,
.sizeP,
.sizeA,
.sizeT,
.sizeBB,
.sizeCB,
.sizeFB,
.sizePB,
.sizeAB,
.sizeTB {
  display: none;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 20px;
}

.sizeA:first-child,
.sizeB:first-child,
.sizeC:first-child,
.sizeF:first-child,
.sizeP:first-child,
.sizeT:first-child,
.sizeBB:first-child,
.sizeCB:first-child,
.sizeFB:first-child,
.sizePB:first-child,
.sizeAB:first-child,
.sizeTB:first-child {
  position: relative;
  animation: mymove1 0.25s;
}

.sizeA:nth-child(2),
.sizeB:nth-child(2),
.sizeC:nth-child(2),
.sizeP:nth-child(2),
.sizeT:nth-child(2),
.sizeF:nth-child(2),
.sizeBB:nth-child(2),
.sizeCB:nth-child(2),
.sizeFB:nth-child(2),
.sizePB:nth-child(2),
.sizeAB:nth-child(2),
.sizeTB:nth-child(2) {
  position: relative;
  animation: mymove2 0.5s;
}

.sizeA:nth-child(3),
.sizeB:nth-child(3),
.sizeC:nth-child(3),
.sizeF:nth-child(3),
.sizeP:nth-child(3),
.sizeT:nth-child(3),
.sizeBB:nth-child(3),
.sizeCB:nth-child(3),
.sizeFB:nth-child(3),
.sizePB:nth-child(3),
.sizeAB:nth-child(3),
.sizeTB:nth-child(3) {
  position: relative;
  animation: mymove3 0.75s;
}

.sizeA:nth-child(4),
.sizeB:nth-child(4),
.sizeC:nth-child(4),
.sizeF:nth-child(4),
.sizeP:nth-child(4),
.sizeT:nth-child(4),
.sizeBB:nth-child(4),
.sizeCB:nth-child(4),
.sizeFB:nth-child(4),
.sizePB:nth-child(4),
.sizeAB:nth-child(4),
.sizeTB:nth-child(4) {
  position: relative;
  animation: mymove4 1s;
}

@keyframes mymove1 {
  0% {
    top: -100px;
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 100;
  }
}

@keyframes mymove2 {
  0% {
    top: -200px;
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 100;
  }
}

@keyframes mymove3 {
  0% {
    top: -300px;
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 100;
  }
}

@keyframes mymove4 {
  0% {
    top: -400px;
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 100;
  }
}

/*hamburger menu*/

a.icon {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  color: black;
  padding: 14px 16px;
  font-size: 17px;
}

a.icon:hover {
  color: white;
  cursor: pointer;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
}

.modal-content {
  background-color: transparent;
  margin: 0px auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  width: 80%;
}

.close {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2.5% 5%;
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.close:hover,
.close:focus {
  color: #989795;
  text-decoration: none;
  cursor: pointer;
}

.burgerMenuItems {
  text-align: center;
}

.burgerMenuItems li:first-child {
  margin-top: 15%;
}

/*playing area*/

.playingArea {
  width: 80%;
  height: 100vw;
  margin-left: 30%;
}

.row {
  padding-top: 3%;
}

.scene {
  display: inline-block;
  perspective: 600px;
}

.card {
  background-image: url("pics/back.jpg");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: 10px solid white;
  border-radius: 15px;
  position: relative;
  width: 9.5vw;
  height: 9.5vw;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 0.65s;
}

.foundCard {
  border: 0.5px solid darkblue;
  border-radius: 15px;
  width: 9.5vw;
  height: 9.5vw;
}
.card:hover {
  cursor: pointer;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  backface-visibility: hidden;
}

.card__face--back {
  transform: rotateY(180deg);
}

.box {
  height: 9.5vw;
  width: 9.5vw;
  border-radius: 15px;
}

.images {
  margin-left: 10px;
  margin-top: -10px;
  border: 10px solid white;
  border-radius: 15px;
}

@media only screen and (max-width: 992px) {
  a.icon {
    display: block;
  }

  .menu {
    display: none;
  }

  span {
    font-size: 2.8vw;
  }

  li {
    font-size: 2vw;
    padding: 2.5% 0px;
  }

  .playingArea {
    margin: 0px auto;
    margin-top: 15% !important;
    margin-left: 20% !important;
  }

  .card,
  .box,
  .images {
    border-radius: 5px;
  }
}
